fieldset.template {
    max-width: 840px;
}
fieldset.template legend {
    max-width: max-content;
}

legend .icons {
    display: inline-block;
    line-height: 24px;
    font-size: 0.5em;
    position: relative;
    bottom: 5px;
    left: 10px;
}

.specialfields {
    display: none;
}

.row.stripes dt:nth-of-type(odd),
.row.stripes dd:nth-of-type(odd) {
    background-color: #f0f0f0;
}

.row.stripes dt:nth-of-type(even),
.row.stripes dd:nth-of-type(even) {
    background-color: #f4f4f4;
}

.row.stripes dt {
    border-top: 1px solid #999;
}

.row.stripes dd:last-of-type {
    border-bottom: 1px solid #999;
}

/** (sm) small screens and above **/
@media print, screen and (min-width: 576px) {
    .row.stripes dd {
        border-top: 1px solid #999;
    }
    .row.stripes dt:last-of-type {
        border-bottom: 1px solid #999;
    }
}
