fieldset.template {
    max-width: 840px;
}
fieldset.template legend {
    max-width: max-content;
}

legend .icons {
    display: inline-block;
    line-height: 24px;
    font-size: 0.5em;
    position: relative;
    bottom: 5px;
    left: 10px;
}

.specialfields {
    display: none;
}
