dl.row.columnheadings {
    background-color: #b8dbf9!important; /* #a1cff7 */
}

dl.row:nth-of-type(even) {
    background-color: #f0f0f0;
}

dl.row:nth-of-type(odd) {
    background-color: #fcfcfc;
}

dl.row:hover {
    background-color: pink;
}

.item .icons {
    width: 48px;
}
.currentvalues .item .text,
.currentvalues .item input {
    margin-left: 50px;
    max-width: calc(100% - 50px);
}

.missingvalues .item .icons {
    width: 72px;
}
.missingvalues .item .text,
.missingvalues .item input {
    margin-left: 80px;
    max-width: calc(100% - 80px);
}

.item del {
    color: red;
}