.row input[type=text][name^=sort] {
    max-width: 2em;
}

.row input[type=text][name^=desc] {
    padding: 4px 2px;
    width: 100%;
}

.row select.admin {
    border: 1px solid #939;
    background-color: #fef;
}