.lang-en .multilang:not([lang=en]),
.lang-ja .multilang:not([lang=ja]) {
    display:none;
}

.lang-en .label-separators dt:not:empty:after {
    content: ":\a0";
}
.lang-ja .label-separators dt:not:empty:after {
    content: "：";
}
